:root{
	--bg-color: #d2d2dd;
	--button-normal-bg-color: rgb(225, 236, 244);
	--button-normal-fg-color: rgb(57, 115, 157);
	--button-normal-border-color: rgb(122, 167, 199);
	--button-hover-bg-color: rgb(204, 225, 240);
	--button-hover-fg-color: rgb(44, 87, 119);
	--button-hover-border-color: rgb(122, 167, 199);
	--button-disabled-bg-color: #d5d5d5;
	--button-disabled-fg-color: #ccc;
	--button-disabled-border-color: #ccc;

	--editor-normal-bg-color: #fff;
	--editor-normal-fg-color: #000;
	--editor-disabled-bg-color: #f4f4f4;
	--editor-disabled-fg-color: #000;

	--highlight-bg-color: var(--editor-normal-fg-color);
	--highlight-fg-color: var(--editor-normal-bg-color);
}
*{
	box-sizing:border-box;
}

html,body{
	height:100%;
	margin:0;
	background-color: var(--bg-color);
}

.app{
	display:grid;
	height:100%;
	width:100%;
	grid-template-rows:min-content auto min-content;
	grid-template-areas:
	"header"
	"editor"
	"terminal";
}

.toolbox{
	display:flex;
}
.header{
	grid-area: header;
}
.editor{
	grid-area: editor;
	font-family:monospace;
	position:relative;
}

#editor-view{
	background-color:var(--editor-normal-bg-color);
	color:var(--editor-normal-fg-color);
	width: 100%;
	height:100%;
	margin:0;
	border:none;
	white-space:pre-wrap;
}
#debug-view{
	background-color:var(--editor-disabled-bg-color);
	color:var(--editor-disabled-fg-color);
	display:none;
	margin:0;
	border-style: none;
	min-width:100%;
	min-height:100%;
	white-space:pre-wrap;
}
.terminal{
	background-color:black;
	color:#00FF00;
	font-family:monospace;
	grid-area:terminal;
	white-space:pre-wrap;
}

.tape-container{
	position:relative;
	overflow:hidden;
	height:2rem;
	width:100%;
}
.tape{
	position:absolute;
	display:flex;
}
.cell{
	display:inline-block;
	margin-left:.1rem;
	width:3rem;
	height:2rem;
	text-align:center;
	vertical-align: middle;
	border:2px solid;
	border-color:#888;
	background-color:#eee;
}
.cell.active{
	background-color:#333;
	color:#eee;
}

.highlight{
	color:white;
	background-color:black;
}

button{
	background-color:var(--button-normal-bg-color);
	color:var(--button-normal-fg-color);
	border-color:var(--button-normal-border-color);
	margin:.05rem;
	border-radius:30%;
	border:2px solid;
	font-size: 1.7rem;
	cursor:pointer;
}

button:hover
{
	background-color:var(--button-hover-bg-color);
	color:var(--button-hover-fg-color);
	border-color:var(--button-hover-border-color);
}

button[disabled]
{
	background-color:var(--button-disabled-bg-color);
	color:var(--button-disabled-fg-color);
	border-color:var(--button-disabled-border-color);
	cursor:initial;
}

@media(min-width:30rem){
	.app{
	grid-template-areas:
	"header header"
	"editor terminal";
	grid-template-columns: 1fr 1fr;
	grid-gap:.4rem;
	}
}
